# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ IDEA
.idea/

# Eclipse
.classpath
.project
.settings/

# NetBeans
nbproject/private/
build/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Compiled bytecode
*.class